@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
  width: 0;
  height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}

button,
input,
button:focus,
input:focus {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #424242;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #424242;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
}

@font-face {
  font-family: "Manrope";
  src: url(".assets/fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(".assets/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
.search, .search__content, .user, .settings, .dropup, .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu button, .close {
  border-radius: 50%;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search, .user, .settings {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

.container {
  min-width: 20rem;
  max-width: 120rem;
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

/* Кнопка закрытия */
.close {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  width: 64px;
}

/* Базовое состояние панелей */
.dropup,
.settings,
.user,
.search {
  position: fixed; /* или absolute, в зависимости от верстки */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px); /* панель чуть ниже */
  transition: all 0.3s ease-out; /* скорость анимации */
}

/* Активное состояние (когда у body есть класс) */
body.show-dropup .dropup,
body.show-settings .settings,
body.show-user .user,
body.show-search .search {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* возвращаем на место */
}

/* Состояние меню и кнопки закрытия */
body[class^=show-] .close {
  opacity: 1;
  visibility: visible;
}

body[class^=show-] .menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* чтобы нельзя было кликнуть на скрытое меню */
}

.menu {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  list-style: none;
}
.menu button:first-child img, .menu button:last-child img {
  width: 32px;
}
.menu button:nth-child(even) {
  width: 64px;
  margin: 0 2rem;
}
.menu button:nth-child(3) {
  width: 96px;
}

.dropup {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  overflow: hidden;
}
.dropup a {
  line-height: 20vh;
  border: 1px solid black;
  width: 100vw;
  text-align: center;
  font-size: 5rem;
}
.dropup a:hover {
  font-size: 7rem;
  color: #cccccc;
  background-color: grey;
}

.settings {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.settings__content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 1rem;
}

.user {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.user__content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 1rem;
}

.search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.search-reset {
  display: none;
}
.search-btn, .search-reset {
  width: 2rem;
}
.search__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  border-radius: 1rem;
}
.search__content input {
  width: 100%;
}

.search__content.is-dirty .search-btn {
  display: none;
}

.search__content.is-dirty .search-reset {
  display: block;
}
